" For more see https://www.jetbrains.com/help/idea/using-product-as-the-vim-editor.html#vimrc

let mapleader = " "

nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>p "+p
vnoremap <leader>p "+p

"inoremap jj <esc>
"inoremap jk <esc>
nnoremap o o<esc>
nnoremap O O<esc>
nnoremap <C-)> :tabnext<CR>
nnoremap <C-*> :tabprev<CR>
nnoremap <leader>c :close<CR>

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nmap gI <Action>(ReSharperGotoImplementation)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fw <Action>(FindInPath)
nmap <leader>la <Action>(ShowIntentionActions)
nmap <leader>ld <Action>(ShowErrorDescription)
nmap <leader>lr <Action>(RenameElement)
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)
nmap <leader>lf <Action>(ReformatCode)

Plug 'tpope/vim-surround'
